:root {
  --spacing: 12px;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  padding: var(--spacing);
  font-size: 10pt;
}

@media (prefers-color-scheme: dark) {
  body {
    --primary-color: #fff;
    --secondary-color: rgba(255, 255, 255, 0.7);
    --disabled-color: rgba(255, 255, 255, 0.5);
    --background-color: #121212;
    --divider-color: rgba(255, 255, 255, 0.12);
    --textarea-background-color: #212121;
  }
}
@media not all and (prefers-color-scheme: dark) {
  body {
    --primary-color: rgba(0, 0, 0, 0.87);
    --secondary-color: rgba(0, 0, 0, 0.6);
    --disabled-color: rgba(0, 0, 0, 0.38);
    --background-color: #fff;
    --divider-color: rgba(0, 0, 0, 0.12);
    --textarea-background-color: #fafafa;
  }
}

::placeholder {
  color: var(--disabled-color);
}

body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  color: var(--primary-color);
  background-color: var(--background-color);
}

textarea {
  font-size: 1rem;
  height: 16ex;
  resize: vertical;
  box-sizing: border-box;
  color: var(--primary-color);
  background-color: var(--textarea-background-color);
  border: 1px solid var(--divider-color);
}

textarea:focus {
  outline: none;
}

#actions, #options {
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
}

footer * {
  margin: 0;
  color: var(--secondary-color);
}
